/*
* 
*/
body {
	background-color: GhostWhite;
}

.centertext {
	text-align: center;
}

.break_ok {
	white-space: normal;
}

input[type=text] {
	width: 80%;
}

table.dataTable thead th, table.dataTable thead td {
	padding: 8px 6px;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 8px 6px;
}

table.dataTable {
	width: auto;
	white-space: nowrap;
}	
/*
* Move global search to the left
*/
#myTable_filter {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.word_break_all {
	word-break: break-all;
}
