/*
* 
*/
body {
	background-color: GhostWhite;
}

.centertext {
	text-align: center;
}

.up1 {
	writing-mode: vertical-lr;
	padding-left: 0px !important;
}

.up2 {
	writing-mode: vertical-lr;
	font-size: 95%;
	letter-spacing: 0px;
	padding-left: 0px !important;
}

input[type=text] {
	width: 60%;
	writing-mode: horizontal-tb;
}

table.dataTable thead th, table.dataTable thead td {
	padding: 6px 4px;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 6px 4px;
}

/*
* Move global search to the left
*/
#myTable_filter {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}
