/*
* 
*/
body {
	background-color: GhostWhite;
}

.centertext {
	text-align: center;
}

.break_ok {
	white-space: normal;
}

th input[type=text] {
	width: 85%;
}

input[type=text].memo {
	width: 100%;
}

table.dataTable thead th, table.dataTable thead td {
	padding: 8px 6px;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 8px 6px;
}

table.dataTable {
	width: auto;
	white-space: nowrap;
}
/*
* Move global search to the left
*/
#myTable_filter {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.word_break_all {
	word-break: break-all;
}

td.red_column{
    background-color: rgba(255, 99, 71, 0.1);
	text-align: center;
}
td.blue_column{
    background-color: rgba(71, 99, 255, 0.1);
	text-align: center;
}
td.green_column{
    background-color: rgba(50, 180, 80, 0.1);
	text-align: center;
}